extends layout

block content
  h1.text-uppercase #{recipe.title}
  include recipe
  form(method="POST" action="/recipes/#{recipe._id}?_method=DELETE" enctype="application/x-www-form-urlencoded")
       //input(type="submit"
             name="submit"
             id="submit"
             value="Slet opskrift")